#contentChooseIcon {
  position: absolute;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#center {
width: 75%;
margin-left: auto;
margin-right: auto;
 text-align: center;
}
.iconDiv {
	border-radius: 50%;
    width: 72px;
    height: 72px;
    background: white;
    border: none;
    outline: none;
    display: inline-block;
	
}

.iconDiv img {
	width: 40px;
    height: 40px;
    margin-top: 15px;
}

