
#contentEdit {
  position: absolute;
	margin-top: 3rem;
  height: 100%;
  width: 100%;
  background-color: #EAEAE7;
}

#contentEdit p {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
}
#contentEdit p:first-child{
  font-size: 1.3rem;
  color: gray;
}
#icon {
  position:absolute;
  height: 6rem;
  width: 6rem;
  float: left;
  margin-left: 1rem;
}

#icon img {
	height: 6rem;
	width: 6rem;
}

#changeIconContainer {
  position: absolute;
  margin-left: 10rem;
}
#changeIconEdit {
  margin-top: 1rem;
  height: 4rem;
  width: 20rem;
  font-size: 2rem;
  
}

#busstops {
  position: absolute;
  margin-top: 8rem;
  width:100%;
  height: 42%;
  overflow: auto;
}

#busstop-edit {
  background-color: #fff;
  float:left;
  width:80%;
  margin-left:1rem;
}

#busstops button {
  height: 4rem;
  width: 80%;
  margin-left: 1rem;
}
#busstops p {
  margin-top: 0rem;
}

.delete {
	margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 100%;
  background-color: #B90000;
  height: 2rem;
  width: 2rem;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete span{
  height: 0.3rem;
  width: 1.2rem;
  background-color: #fff;
}

