.stop-list {
    list-style: none;
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.stop-list button{
  width: 80%;
  height: 5em;
  margin-top: 1em;
  font-size: 1em;
}

.clicked{
	background-color: rgba(0,0,0,0.1);
}

li h1{
    font-size: 1.5em;
    color: #f4f4f4;
} 
